<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Posts</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/create" class="nav-link">Create Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
