<form [formGroup]="form" class="mt-5" (ngSubmit)="onAddPost()">
  <div class="form-group">
    <input
      type="text"
      formControlName="title"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('title').errors && form.get('title').touched
      }"
      placeholder="Enter Title"
    />
    <div
      [hidden]="!form.get('title').errors?.required"
      class="invalid-feedback"
    >
      PostTitle required
    </div>
    <div
      [hidden]="!form.get('title').errors?.minlength"
      class="invalid-feedback"
    >
      Minimum 3 characters required
    </div>
  </div>

  <div class="form-group">
    <input
      type="file"
      #filepicker
      hidden
      id=""
      (change)="onImagePicked($event)"
      multiple
    />
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="filepicker.click()"
    >
      Pick Image
    </button>
  </div>
  <!-- 
  <div
    style="height: 200px;width:200px;"
    class="form-group image-preview"
    *ngIf="imgPreview !== '' && imgPreview"
  >
    <img [src]="imgPreview" [alt]="form.value.title" class="img-fluid" />
  </div> -->

  <!-- <div class="form-group">
    <textarea
      formControlName="content"
      id=""
      cols="30"
      rows="10"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.get('content').errors && form.get('content').touched
      }"
      placeholder="Enter Content"
    ></textarea>
    <div
      [hidden]="!form.get('content').errors?.required"
      class="invalid-feedback"
    >
      PostContent required
    </div>
    <div
      [hidden]="!form.get('content').errors?.minlength"
      class="invalid-feedback"
    >
      Minimum 10 characters required
    </div>
  </div> -->

  <div class="form-group">
    <input type="submit" value="Submit" class="form-control btn btn-primary" />
  </div>
</form>
