<div *ngIf="posts.length >= 0">
  <div class="card my-2" *ngFor="let post of posts">
    <div class="card-header text-white bg-dark">
      {{ post.title }}
    </div>

    <div class="card-body text-center">
      <img
        [src]="post.imagePath"
        [alt]="post.title"
        class="img-fluid"
        style="height: 200px;width: 200px;"
      />

      <br />

      {{ post.content }}
    </div>
    <div class="card-footer bg-dark">
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="['/edit', post.id]" class="btn btn-sm btn-success"
            >Edit</a
          >

          <!-- routerLink="/edit/{{ post.id }}" -->
        </div>
        <div class="col-md-6 text-right">
          <a href="#" class="btn btn-sm btn-danger" (click)="onDelete(post.id)"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <!-- <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li> -->
    <div *ngFor="let i of arr">
      <li class="page-item">
        <a class="page-link" (click)="onChangePage(this.i)" href="#">{{
          this.i
        }}</a>
      </li>
      <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
      <!-- <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li> -->
    </div>
  </ul>
</nav>

<p *ngIf="posts.length == 0" class="text-center">No Posts Found</p>
