<!-- <app-navbar></app-navbar>

<div class="container">
  <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
  <app-post-list [posts]="post"></app-post-list>
</div> -->
<!-- The above method is of maximal but i dont like so i am using brads method of observables. -->

<app-navbar></app-navbar>

<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>
